<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
 <% end %>

<header>
 <h1>Books</h1>
</header>


 <table>
 <thead>
 <tr>
 <th>Title</th>
 <th>Body</th>
 <th>  </th>
 <th>  </th>
 <th>  </th>
 </tr>
 </thead>


 <tbody>
  <% @books.each do |book| %>
  <tr>
   <th><%= book.title %></th>
   <th><%= book.body %></th>
   <th><%= link_to "Show", book_path(book)%></th>
   <th><%= link_to "Edit", edit_book_path(book)%></th>
   <th><%= link_to "Destroy", book_path(book), method: :delete, data: {confirm: "Are you ok？"}%></th>
   <% end %>
  </tr>
 </tbody>
</table>

<h3>New Book</h3>
<th>
 <% if @book.errors.any? %>
 <%= @book.errors.count %>error prohibited this book from being saved<br>
 <% @book.errors.full_messages.each do |message| %>
 <%= message %>
 <% end %>
 <% end %>
</th>

 <%= form_with model:@book, local:true do |f| %>

 <label for="title_text">Title</label>
 <div>
 <%= f.text_field :title %>
 </div>
<label for="body_text">Body</label>
 <div>
 <%= f.text_area :body %>
 </div>
 <div>
 <%= f.submit "Create Book" %>
 </div>

 <% end %>

